{%extends "base.html"%} {%block header%}
<h2>Edit {{user.full_name}}</h2>
{%endblock%} {%block content%}
<form action="/users/{{user.id}}/edit" method="POST">
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="first">
    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" name="last">
    <label for="img-url">Image URL:</label>
    <input type="text" id="first-name" name="img">
    <input type="submit">
</form>
<a href="/users/{{user.id}}/delete"><button>Delete</button></a>
<a href="/users/{{user.id}}"><button>Cancel</button></a> {%endblock%}