{%extends "base.html"%} {%block header%}
<h2>Edit Post</h2>
{%endblock%} {%block content%}
<form id="post-edit" class="form-group" action="/posts/{{post.id}}/edit" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <label for="content">Content:</label>
    <input type="text" id="content" name="content">

</form>
<input class="btn btn-success" type="submit" form="post-edit">
<a href="/posts/{{post.id}}"><button class="btn btn-primary">Cancel</button></a>
<form class="d-inline" action="/posts/{{post.id}}/delete" method="POST"><button class="btn btn-danger">Delete</button></form> {%endblock%}