{%extends "base.html"%} {%block header%}
<h2>Add post for {{user.full_name}}</h2>
{%endblock%} {%block content%}
<form id="post-form" action="/users/{{user.id}}/posts/new" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <label for="content">Content:</label>
    <input type="text" id="content" name="content" required>
    <br>
    {%for tag in tags%}
    <input type="checkbox" name="tags" value="{{tag.id}}"><label for="tags">{{tag.name}}</label>
    <br>
    {%endfor%}
</form>
<a href="/users/{{user.id}}"><button class="btn btn-primary">Cancel</button></a>
<input class="btn btn-success" type="submit" form="post-form"> {%endblock%}