{%extends "base.html"%} {%block header%}
<div class="container">
    <h3>{{post.title}}</h3>
</div>
{%endblock%} {%block content%}
<div class="container">
    <p>{{post.content}}</p>
    <i>by {{post.user.full_name}} on {{post.time_format()}}</i>
    <br>
    <strong>Tags:</strong>
    {%for tag in tags%}
     <span class="ml-2">{{tag.name}}</span>
     {%endfor%}
     <br>
    <a href="#" onclick="history.go(-1)"><button class="btn btn-link">Back</button></a>
    <a href="/posts/{{post.id}}/edit"><button class="btn btn-primary">Edit</button></a>
</div>{%endblock%}